<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="/images/JHM_Logo.jpg">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- GOOGLE FONT MONTSERRAT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <title>JHM | Leaders</title>
  </head>
  <body>
    <!-- BEGIN NAVBAR -->
    <nav id="mainNavbar" class="navbar navbar-light bg-light navbar-expand-md p-3 fixed-top">
        <a href="evfreejhm.html" class="navbar-brand">JHM</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/resources" class="nav-link">RESOURCES</a>
                </li>
                <li class="nav-item">
                    <a href="/schedule" class="nav-link">SCHEDULE</a>
                </li>
                <li class="nav-item">
                    <a href="/media" class="nav-link">LINKS/ MEDIA</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- --------------END NAVBAR------------------------- -->