<% include ./partials/header %>

    <main>
            <!-- 1ST ROW -->
        <section class="container-fluid px-0 ">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid" src="/images/home1.JPG" alt="">
                </div>
                 <div class="col-lg-6 py-5 my-4" id="values_square">
                    <div class="text-white text-center d-flex flex-column align-items-center">
                        <h2 class="display-2">community.</h2>
                        <h2 class="display-2">disciples.</h2>
                        <h2 class="display-2">family.</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2ND ROW -->
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- this section will relocate to the bottom at lg (that's why it is copied below) -->
                    <div class="container text-white text-center mt-5 d-none d-lg-inline">
                        <h3 class="display-3">
                            <i class="fas fa-angle-double-left"></i>  MISSION  <i class="fas fa-angle-double-right"></i>
                        </h3>
                        <br>
                        <p>JHM exists to help Junior High students and families learn how to follow Jesus as disciples, connect with others as part of a spiritual family, and go into the world as missionaries.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid" src="/images/home3.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <div id="mission" class="container text-white text-center py-5 d-lg-none">
                        <h2>
                            <i class="fas fa-angle-double-left"></i>  MISSION  <i class="fas fa-angle-double-right"></i>
                        </h2>
                        <br>
                        <p>JHM exists to help Junior High students and families learn how to follow Jesus as disciples, connect with others as part of as a spiritual family, and go into the world as missionaries.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
   

<% include ./partials/footer %>





