<% include ./partials/header %>

 <!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid" id="jumbo3">
        <div class="img-fluid" id="jumbo3_img">
        </div>
    </div>

    <!-- ------------------------------ -->

    <div class="row">
        <div class="col-1 col-md-2"></div>
        <div class="col-10 col-md-8">
            <!-- CARD -->
            <div class="card my-4 shadow-lg mb-5" id="links_card">
                <img src="/images/connected4.jpg" class="card-img" alt="..." id="stay_connected">
                <div class="card-body p-3">
                    <h2 class="display-2 card-title mb-4">Stay Connected.</h2>
                    <div class="row">
                        <div class="col-6" style="border-right: 1px solid #E0CDB5">
                            <p class="card-text">
                                <em>Separation is in the preparation.</em><br><br>Stay up to date by viewing lesson plans on our Youtube channel.<br>
                                <a href="https://www.youtube.com/channel/UCXx0giS20tbJOswph0D62Lg?view_as=subscriber" target="blank">
                                    <i class="fab fa-youtube fa-4x pt-2"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="card-text">
                                <em>Do it for the gram.</em><br><br>Folllow EV Free JHM on Insta. <br>
                                <a href="https://www.instagram.com/evfreejhm/" target="blank">
                                    <i class="fab fa-instagram fa-4x"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2"></div>
    </div>

<% include ./partials/footer %>
