<div id="messages" class = "alert alert-info">
<% Object.keys(messages).forEach(function (type) { %>
  <% messages[type].forEach(function (message) { %>
    <%= message %>  
  <% }) %>
<% }) %>
</div>