<% include ./partials/header %>

    <!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid" id="jumbo1">
        <div class="container py-4">
            <h1 class="display-1 text-center align-items-center">RESOURCES</h1>
            <p class="text-center align-items-center">Knowledge is power. Get all your pdf's here!</p>
        </div>
    </div>

    <!-- CARDS -->
    <div class="row">
        <!-- left margin -->
        <div class="col-2"></div>
        <!-- middle content -->
        <div class="col-8">
            <!-- card row -->
            <div class = "row mb-3" id="cal_card_row">
                <!-- card 1 -->
                <div class="col-sm-6 col-lg-4 my-3">
                    <div class="card shadow-sm res_card">
                      <img src="/images/icons/creative-thinking.png" class="card-img-top mx-auto mt-3" alt="...">
                      <div class="card-body">
                        <p class="card-title">Heaven and Earth Teaching</p>
                        <a href="/pdfs/Heaven and Earth Discussion.pdf" target="blank" class="btn btn-primary">Download</a>
                      </div>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="col-sm-6 col-lg-4 my-3">
                    <div class="card shadow-sm res_card">
                      <img src="/images/icons/sociology.png" class="card-img-top mx-auto mt-3" alt="...">
                      <div class="card-body">
                        <p class="card-title">Heaven and Earth Discussion</p>
                        <a href="/pdfs/Heaven and Earth Teaching.pdf" target="blank" class="btn btn-primary">Download</a>
                      </div>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="col-sm-6 col-lg-4 my-3">
                    <div class="card shadow-sm res_card">
                      <img src="/images/icons/mask.png" class="card-img-top mx-auto mt-3" alt="...">
                      <div class="card-body">
                        <p class="card-title">JHM Leader <br> Application</p>
                        <a href="/pdfs/JHM_application.pdf" target="blank" class="btn btn-primary">Download</a>
                      </div>
                    </div>
                </div>

                <!-- card 4 -->
                <div class="col-sm-6 col-lg-4 my-3">
                    <div class="card shadow-sm res_card">
                      <img src="/images/icons/bible.png" class="card-img-top mx-auto mt-3" alt="...">
                      <div class="card-body">
                        <p class="card-title">Roots: Week 1-17</p>
                        <a href="/pdfs/Roots 17-18 answers 1-17.pdf" target="blank" class="btn btn-primary">Download</a>
                      </div>
                    </div>
                </div>
                <!-- card 5 -->
                <div class="col-sm-6 col-lg-4 my-3">
                    <div class="card shadow-sm res_card">
                      <img src="/images/icons/agriculture.png" class="card-img-top mx-auto mt-3" alt="...">
                      <div class="card-body">
                        <p class="card-title">Roots: Week 18-22</p>
                        <a href="/pdfs/Roots 17-18 answers 18 -22.pdf" target="blank" class="btn btn-primary">Download</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- right margin -->
        <div class="col-2"></div>
    </div>



<% include ./partials/footer %>